# dependencies
/node_modules

# production
/build

# compiled javascript
dist

# misc
.DS_Store
*.pem
*.tgz

# debug
yarn-debug.log*
yarn-error.log*

# env files
.env

# vscode
settings.json

# tests
coverage
